body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: blue; 
}

h2 {
    font-size: 50px;
    padding: 0px;
    margin: 0%;
    text-align: center;
}
.boardgame {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    background-color: rgba(255, 38, 0, 0.995);
    margin: auto;
    justify-content: center;
    align-items: baseline;
    text-align: justify;
    
}

.gameDesign {
    background-color:blue;
    margin: 5% auto;
    padding: 5px;
    height: 50%;
    width: 70%;
    font-size: 25px;
    line-height: 1.6;
    color:white;

}

.exit {
    color:grey;
    float: right;
    top: right;
    font-size: 20px;
    padding: 5px;
}

.exit:hover, .exit:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 0px;
    margin: 0%;
}

#gameboard {
    background-color: blue;
    display: flex;  
    /* flex-basis: 80vh; */
    margin: auto;
    height: 527px;
    width: 880px
    
}

#totalscore {
    display: fixed;
    top:800px;
    left:5px;
    color: blue;
    font-size: 20px;
    /* border: solid 3px; */
    /* border-color: grey; */
    width: 866px;
    margin: auto;
    padding: 3px;
    
}


.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topics > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 170px;
    background-color:rgba(255, 38, 0, 0.995);
    border: solid rgba(255, 255, 0, 1.0) 3px;
    border-top: solid rgba(255, 255, 0, 1.0) 5px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.topic1 > div{
    height: 100px;
    width: 170px;
    border: solid rgba(255, 68, 0, 0.933) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic2 > div{
    height: 100px;
    width: 170px;
    border: solid rgba(255, 68, 0, 0.933) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic3 > div{
    height: 100px;
    width: 170px;
    border: solid rgba(255, 68, 0, 0.933) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic4 > div{
    height: 100px;
    width: 170px;
    border: solid rgba(255, 68, 0, 0.933) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topic5 > div{
    height: 100px;
    width: 170px;
    border: solid rgba(255, 68, 0, 0.933) 3px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.score {
    color: white;
    text-decoration: none;
    font-size: 50px;
}

.score:hover {
    color: gold;
}

.button {
    background: rgba(255, 68, 0, 0.933);
    border-color: white;
    padding: 1em 2em;
    color: white;
    border: 0;
    height: 11.5%;
    font-size: 12px;

}

.button:hover {
    background: yellow;
}

input {
    width: 70%;
    height: 10%;
    font-size: 20px;
}
